@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  /* Custom Scrollbar for Webkit */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #8e1c66;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #380e3c;
  }
}

@layer components {
  .btn-primary {
    @apply px-5 py-2.5 rounded-full font-bold transition-all flex items-center gap-2 shadow-lg bg-makwana-mid hover:bg-makwana-dark text-white shadow-makwana-mid/30;
  }
  
  .section-padding {
    @apply py-20 px-4 sm:px-6 lg:px-8;
  }
  
  .container-custom {
    @apply max-w-7xl mx-auto;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
